@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --navBg:aqua;
    --link-color:blue;
}
.dark-theme{
    --navBg:darkgrey;
    --link-color:white;
}

body{
    max-width:1800px;
    margin: auto;
}


.navBar {
    display: flex;
    flex-flow: row nowrap;
    width:100%;
    background-color: var(--navBg);
    justify-content: space-between;
    padding:10px 30px;
}
.navBar ul {
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    width:50%;
    color: var(--link-color);
    transition:all 0.5s;
}
.navBar ul li{
    font-size: 1.3rem;
}
.navBar .logoContainer{
    font-size: 1.5rem;
}