/* 
    Styles: https://aldortech.com
    All Rights Reserved
*/
@tailwind base;
@tailwind components;
@tailwind utilities;


/* -------------------------- Root Custome Properties ------------------------- */
:root {
    --theme-btn: #000000;
    --theme-slider: #1679AB;
    --theme-icon: white;
    --toolbar-bg: rgba(221, 220, 229, 1);
    --nav-border: rgba(221, 220, 229, 1);
    --dropdown-link-border: black;
    --navBg: rgba(224, 247, 252, 1);
    --text-color: black;
    --link-color-hover: blue;
    --bg-color: rgb(221, 220, 229);
    --bg-gradient: linear-gradient(329deg, rgba(221, 220, 229, 1) 11%, rgba(231, 231, 233, 1) 34%, rgba(224, 247, 252, 1) 100%);
}

/* ---------------------------------- End -------------------------------------- */
/*          --------------------------===-----------------------------           */
/* ---------------------------- Dark Theme Styles ------------------------------ */
.dark-theme {
    --theme-btn: #000000;
    --theme-icon: orange;
    --toolbar-bg: #130f40;
    --nav-border: whitesmoke;
    --dropdown-link-border: white;
    --navBg: #000000;
    --link-color-hover: #011F5B;
    --text-color: white;
    --bg-color: #130f40;
    --bg-gradient: linear-gradient(315deg, #130f40 0%, #000000 74%);
}

/* ---------------------------------- End -------------------------------------- */
/*          --------------------------===-----------------------------           */
/* ---------------------------- Global Styles ---------------------------------- */
body {
    margin: auto;
    max-width: 1800px;
    background-repeat: no-repeat;
    background-color: var(--bg-color);
    background: var(--bg-gradient);
}

main {
    color: var(--text-color);
    height: 100vh;
    margin-top: 100px;
    transition: all 0.5s;
}

/* ---------------------------------- End -------------------------------------- */
/*          --------------------------===-----------------------------           */
/* -------------------------------- Toolbar ------------------------------------ */
.toolBarCont {
    height: 35px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: end;
    background: var(--bg-gradient);
}

.toolBarCont .themeBtnCont {
    position: relative;
    margin: 5px 20px;
    height: 15px;
    width: 60px;
    background-color: var(--theme-slider);
    border-radius: 20px;
    cursor: pointer;
}

.toolBarCont .themeBtnCont .inner {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--theme-icon);
    height: 25px;
    left: 5px;
    top: -5px;
    width: 25px;
    background-color: var(--theme-btn);
    border-radius: 50%;
    transition: all 1s;
}

.toolBarCont .themeBtnCont .inner.slide {
    left: 30px;
}

/* ---------------------------------- End -------------------------------------- */
/*          --------------------------===-----------------------------           */
/* --------------------------------- Navbar ------------------------------------ */
.navBar {
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    background-color: var(--navBg);
    top: 35px;
    transition: all 0.4s;
    z-index: 50;
}

.menuLinks {
    color: var(--text-color);
    background-color: var(--navBg);
    max-height: 0;
    z-index: 100;
    overflow: hidden;
    transition: max-height 0.3s ease-in;
}

.menuLinks.show {
    max-height: 500px;
}

.menuLinks li {
    margin: 0 15px;
    cursor: pointer;
    padding: 5px 0 0 100px;
    border-bottom: 1px solid var(--dropdown-link-border);
    transition: all 0.5s;
}

.navContainer {
    display: flex;
    flex-flow: row nowrap;
    padding: 15px 100px;
    justify-content: space-between;
}

.sticky {
    border-bottom: 1px solid var(--nav-border);
}

.navContainer ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 60%;
    color: var(--text-color);
    transition: all 0.5s;
}

.navContainer li {
    font-size: 1.3rem;
    transition: all 0.5s;
}

.navContainer li:hover {
    color: var(--link-color-hover);
    transition: all 0.5s;
}

.navContainer .logoContainer {
    color: var(--text-color);
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    transition: all 1s;
}

.navContainer .menuBtn {
    display: none;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 6px;
    height: 45px;
    width: 45px;
    cursor: pointer;
    z-index: 100;
}

.navContainer .menuBtn:hover span {
    background-color: var(--link-color-hover);
}

.navContainer .menuBtn span {
    width: 35px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--text-color);
    transition: all 0.5s;
}

.navContainer .menuBtn.open span:first-child {
    transform: rotate(45deg) translate(10px, 3px);
}

.navContainer .menuBtn.open span:nth-child(2) {
    opacity: 0;
}

.navContainer .menuBtn.open span:last-child {
    transform: rotate(-45deg) translate(10px, -4px);
}

/* ---------------------------------- End -------------------------------------- */
/*          --------------------------===-----------------------------           */
/* ------------------------------- Home Page ----------------------------------- */

/*______________ Hero Section ________________ */
.heroCont {
    background: url('../public/bg.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    background-color: grey;
    height: 600px;
    overflow: hidden;
    transition: all 3s;
}

.heroCont .colorCont {
    background: var(--bg-gradient);
    width: 100%;
    transform: rotate(-45deg) translate(300px, 300px);
    height: 900px;
    z-index: 0;
    transition: all 3s;
}

.heroCont .leftContent {
    width: 50%;
}

/*__________________ End _____________________ */

/* ---------------------------------- End -------------------------------------- */
/*          --------------------------===-----------------------------           */