@media(width>=1800px) {
    body {
        margin: auto;
    }
}

@media(width<=1400px) {
    .navContainer ul {
        width: 70%;
        transition: all 0.5s;
    }

    .heroCont .colorCont {
        transform: rotate(-45deg) translate(200px, 400px);
        height: 900px;
    }

    .heroCont .leftContent {
        top: 170px;
        left: 80px;
        width: 40%;
    }

    .heroCont .rightContent {
        right: 80px;
    }

    .postCont1 .posterCont .postText,
    .postCont2 .posterCont .postText {
        font-size: 1.4rem;
        max-height: 350px;
        overflow-y: scroll;
    }
    .quikBlog .blogCardCont .blogCard{
        padding-bottom: 50px;
    }

    .quikBlog .blogCardCont .blogCard .imgContainer .img {
        /* width: 47%; */
        height: 400px;
    }

    .quikBlog .blogCardCont .blogCard,
    .quikPort .portCardCont .portCard,
    .headingCont .cardsCont .cards {
        width: 47%;
    }
}

@media(width<=1100px) {
    ::-webkit-scrollbar {
        width: 0px;
        height: 0;
    }

    .navContainer ul {
        display: none;
    }

    .navBar .menuBtn {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    .heroCont .colorCont {
        transform: rotate(-90deg) translate(50px, 350px);
        height: 600px;
    }

    .heroCont .rightContent {
        width: 30%;
        right: 50px;
    }

    .postCont1 .posterCont,
    .postCont2 .posterCont {
        flex-flow: column-reverse;
        transition: all 0.5s;
    }

    .headingCont .boldtextCont {
        flex-flow: column nowrap;
    }

    .headingCont .boldtextCont .paragraph,
    .headingCont .boldtextCont h1 {
        width: 100%;
    }

    .postCont1 .posterCont .postText,
    .postCont1 .posterCont .postImg,
    .postCont2 .posterCont .postText,
    .postCont2 .posterCont .postImg {
        width: 100%;
        padding: 50px;
        user-select: none;
        transition: all 0.5s;
    }

    .headingCont .logoCont img {
        height: auto;
        padding: 0;
    }

    .footerCont .container .quiklinks {
        width: 100%;
        text-align: left;
    }

    .footerCont .container .navigation,
    .footerCont .container .brandLogo {
        width: 48%;
        text-align: left;
    }
}

@media(width<=770px) {
    .navContainer {
        padding: 5px 20px;
        transition: all 0.5s;
    }

    .menuLinks li {
        padding: 5px 0 0 20px;
    }

    .heroCont .colorCont {
        display: none;
        /* position: ; */
    }

    .heroCont .rightContent,
    .heroCont .leftContent {
        position: unset;
        width: 80%;
    }

    .heroCont {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .postCont1 .brand h1,
    .postCont2 .brand h1 {
        font-size: 2rem;
    }

    .quikBlog .blogCardCont .blogCard,
    .quikPort .portCardCont .portCard,
    .headingCont .cardsCont .cards,
    .reviewCont .reviewCardCont .reviewCard {
        width: 100%;
    }

    .reviewCont .reviewCardCont {
        flex-flow: column nowrap;
    }
}

@media (width<=550px) {

    .postCont1 .brand,
    .postCont2 .brand {
        padding: 40px 0;
    }

    .postCont1 .brand h1,
    .postCont2 .brand h1 {
        font-size: 1.4rem;
    }

    .postCont1 .brand p,
    .postCont2 .brand p {
        font-size: 1rem;
    }

    .footerCont .container .quiklinks,
    .footerCont .container .navigation,
    .footerCont .container .brandLogo {
        width: 100%;
        text-align: left;
    }

}