@media(width<=1300px){
    .navBar ul{
        width:70%;
        transition:all 0.5s;
    }
}
@media(width<=1000px){
    .navBar{
        padding:10px 70px;
    }
    .navBar ul{
        display:none;
    }
    .navBar .menuBtn{
        display:flex;
        flex-flow:column nowrap;
        align-items:center;
        justify-content: center;
        gap:5px;
    }
}
@media(width<=600px){
    .navBar{
        padding:5px 40px;
        transition: all 0.5s;
    }
}