/* 
    Styles: https://aldortech.com
    All Rights Reserved
*/
@tailwind base;
@tailwind components;
@tailwind utilities;


/* -------------------------- Root Custome Properties ------------------------- */
:root {
    --theme-btn: #000000;
    --blue-1: #1679AB;
    --gradient-dark: linear-gradient(315deg, #130f40 0%, #000000 74%);
    --gradient-light: linear-gradient(329deg, rgba(221, 220, 229, 1) 11%, rgba(231, 231, 233, 1) 34%, rgba(224, 247, 252, 1) 100%);
    --theme-icon: white;
    --toolbar-bg: rgba(221, 220, 229, 1);
    --nav-border: rgba(221, 220, 229, 1);
    --theme-border: white;
    --dropdown-link-border: black;
    --navBg: rgba(224, 247, 252, 1);
    --theme-text-color: black;
    --theme-hover-color: rgba(221, 220, 229, 1);
    --bg-color: rgb(221, 220, 229);
    --bg-gradient: linear-gradient(329deg, rgba(221, 220, 229, 1) 11%, rgba(231, 231, 233, 1) 34%, rgba(224, 247, 252, 1) 100%);
}

/* ---------------------------------- End -------------------------------------- */
/*          --------------------------===-----------------------------           */
/* ---------------------------- Dark Theme Styles ------------------------------ */
.dark-theme {
    --theme-btn: #000000;
    --theme-icon: orange;
    --theme-border: #130f40;
    --toolbar-bg: #130f40;
    --nav-border: whitesmoke;
    --dropdown-link-border: white;
    --navBg: #000000;
    --theme-hover-color: #130f40;
    --theme-text-color: white;
    --bg-color: #130f40;
    --bg-gradient: linear-gradient(315deg, #130f40 0%, #000000 74%);
}

/* ---------------------------------- End -------------------------------------- */
/*          --------------------------===-----------------------------           */
/* ---------------------------- Global Styles ---------------------------------- */
body {
    margin: auto;
    max-width: 1800px;
    min-width: 370px;
    background-repeat: no-repeat;
    /* background-color: var(--bg-color); */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../public/bg4.jpg');
    background-position: center;
    background-size: cover;
    /* height: 100vh; */
    /* max-height: 90vh; */
    /* overflow: scroll; */
    /* position: relative; */
}

main {
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../public/bg4.jpg');
    background-position: center;
    background-size: cover; */
    color: var(--theme-text-color);
    max-height: 100vh;
    overflow: scroll;
    padding-top: 100px;
    transition: all 0.5s;
    /* position: absolute; */
}

/* ---------------------------------- End -------------------------------------- */
/*          --------------------------===-----------------------------           */
/* -------------------------------- Toolbar ------------------------------------ */
.toolBarCont {
    height: 35px;
    width: 100%;
    max-width: 1800px;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: end;
    background: var(--bg-gradient);
}

.toolBarCont .themeBtnCont {
    position: relative;
    margin: 5px 20px;
    height: 15px;
    width: 60px;
    background-color: var(--blue-1);
    border-radius: 20px;
    cursor: pointer;
}

.toolBarCont .themeBtnCont .inner {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--theme-icon);
    height: 25px;
    left: 5px;
    top: -5px;
    width: 25px;
    background-color: var(--theme-btn);
    border-radius: 50%;
    transition: all 1s;
}

.toolBarCont .themeBtnCont .inner.slide {
    left: 30px;
}

/* ---------------------------------- End -------------------------------------- */
/*          --------------------------===-----------------------------           */
/* --------------------------------- Navbar ------------------------------------ */
.navBar {
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    max-width: 1800px;
    background-color: var(--navBg);
    top: 35px;
    transition: all 0.4s;
    z-index: 100;
}

.menuLinks {
    color: var(--theme-text-color);
    background-color: var(--navBg);
    max-height: 0;
    z-index: 100;
    overflow: hidden;
    transition: max-height 0.3s ease-in;
}

.menuLinks.show {
    max-height: 500px;
}

.menuLinks li {
    margin: 0 15px;
    cursor: pointer;
    padding: 5px 0 0 100px;
    border-bottom: 1px solid var(--dropdown-link-border);
    transition: all 0.5s;
}

.menuLinks li a {
    width: 100%;
}

.navContainer {
    display: flex;
    flex-flow: row nowrap;
    padding: 15px 100px;
    justify-content: space-between;
}

.sticky {
    border-bottom: 1px solid var(--nav-border);
}

.navContainer ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 60%;
    color: var(--theme-text-color);
    transition: all 0.5s;
}

.navContainer li {
    font-size: 1.3rem;
    transition: all 0.5s;
}

.navContainer li:hover {
    color: var(--theme-hover-color);
    transition: all 0.5s;
}

.navContainer .logoContainer {
    color: var(--theme-text-color);
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    transition: all 1s;
}

.navContainer .menuBtn {
    display: none;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 6px;
    height: 45px;
    width: 45px;
    cursor: pointer;
    z-index: 100;
}

.navContainer .menuBtn:hover span {
    background-color: var(--theme-hover-color);
}

.navContainer .menuBtn span {
    width: 35px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--theme-text-color);
    transition: all 0.5s;
}

.navContainer .menuBtn.open span:first-child {
    transform: rotate(45deg) translate(10px, 3px);
}

.navContainer .menuBtn.open span:nth-child(2) {
    opacity: 0;
}

.navContainer .menuBtn.open span:last-child {
    transform: rotate(-45deg) translate(10px, -4px);
}

/* ---------------------------------- End -------------------------------------- */
/*          --------------------------===-----------------------------           */
/* ------------------------------- Home Page ----------------------------------- */

/*______________ Hero Section ________________ */
.heroCont {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
    border-bottom: 2px solid var(--theme-border);
    transition: all 0.5s;
}

.heroCont .colorCont {
    background: var(--bg-gradient);
    width: 100%;
    transform: rotate(-45deg) translate(300px, 300px);
    height: 900px;
    z-index: 0;
    transition: all 3s;
}

.heroCont .leftContent {
    position: absolute;
    width: 25%;
    left: 150px;
    top: 130px;
    transition: all 0.5s;
}

.heroCont .rightContent {
    position: absolute;
    width: 25%;
    right: 150px;
    top: 210px;
    z-index: 1;
    transition: all 0.5s;
}

.heroCont .leftContent>h3 {
    color: orange;
    font-size: 1.5rem;
    text-align: justify;
    user-select: none;
}

.heroCont .rightContent .btnCont {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

.heroCont .rightContent .btnCont>a {
    width: 100%;
    height: 50px;
    background-color: var(--blue-1);
    text-align: center;
    padding: 12px 0;
    font-size: 1.2rem;
    color: var(--theme-text-color);
    border-radius: 5px;
    user-select: none;
}

/*__________________ End _____________________ */

/*_____________ Services Section _____________ */
.postCont1,
.postCont2 ,
.headingCont{
    background: var(--bg-gradient);
    width: 100%;
    margin-top: 150px;
}

.postCont1 .slideContent {
    display: flex;
    flex-flow: row nowrap;
    max-width: 1800px;
    overflow: scroll;
    border-bottom: 2px solid var(--theme-border);
    border-top: 2px solid var(--theme-border);

}

.postCont1 .slideContent .slideServices {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0 30px;
    user-select: none;
    background-color: var(--bg-gradient);
    color: var(--theme-text-color);
    height: 50px;
    min-width: fit-content;
    transition: all 0.5s;
}

.postCont1 .slideContent .slideServices:hover {
    background-color: var(--theme-hover-color);
}

.postCont1 .brand,
.postCont2 .brand {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.postCont1 .brand h1,
.postCont2 .brand h1 {
    font-size: 2.5rem;
    transition: all 0.5s;
}

.postCont1 .brand p,
.postCont2 .brand p {
    font-size: 1.2rem;
}

.postCont1 .posterCont {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    transition: all 0.5s;
}

.postCont2 .posterCont {
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    transition: all 0.5s;
}

.postCont1 .posterCont .postText,
.postCont1 .posterCont .postImg,
.postCont2 .posterCont .postText,
.postCont2 .posterCont .postImg {
    width: 50%;
    padding: 50px;
    user-select: none;
    transition: all 0.5s;
}

.postCont1 .posterCont .postText,
.postCont2 .posterCont .postText {
    font-size: 1.7rem;
    text-align: justify;
    color: var(--theme-text-color);
    transition: all 0.5s;
}

.postCont1 .posterCont .postImg img,
.postCont2 .posterCont .postImg img {
    width: 100%;
    border-radius: 5px;
}

/*__________________ End _____________________ */

/*_____________ Headings Section _____________ */
.headingCont{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
}

.headingCont .boldtextCont{
    display: flex;
    flex-flow: row nowrap;
    padding: 80px 0;
}
.headingCont .boldtextCont h1{
    width: 50%;
    font-size: 5rem;
    font-weight: bold;
}
.headingCont .boldtextCont .paragraph{
    width: 50%;
    font-size: 2rem;
    text-align: justify;
}
.headingCont .cardsCont{
    display:flex;
    flex-flow: row wrap;
    /* gap:40px; */
    align-items: center;
    justify-content: center;
    width: 100%;
}
.headingCont .cardsCont .cards{
    height: 200px;
    width: 25%;
    /* min-width:25%; */
    padding: 50px;
    background-color: blue;
    color: white;
}

/*__________________ End _____________________ */

/* ---------------------------------- End -------------------------------------- */
/*          --------------------------===-----------------------------           */