body {
    position: relative;
}

.loaderContainer {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    width: 100%;
    z-index: 50;
    height: 100vh;
}

.temp {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}